services:
  database:
    image: postgres:17
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    ports:
      - "5432:5432" 
    volumes:
      - ./pg_data:/var/lib/postgresql/data 
    networks:
      - mon-reseau

networks:
  mon-reseau:
    driver: bridge
    